<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="app">
        <div>{{ age }}</div>
    </div>

<script src="dist/mozaik.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
<script>

    const store = new mozaik({
        user: {
            info: {
                name: 'Artur',
                age: '22'
            }
        }
    });
    mozaik.registerMiddleware('toNumber', (val) => {
        return Number(val);
    });
    mozaik.registerMiddleware('toFixed', (val) => {
        if (typeof val === 'number') {
            return val.toFixed(2)
        } else {
            return val;
        }
    });

    const res = store.get('user.info.age', null, {
        getLink: false,
        middleware: [
            'toNumber',
            'toFixed'
        ]
    });


    function obj() {
        this.a = 1;
        this.b = 2;
        this.c = this.a + this.b;
        return this;
    }

    setTimeout(() => {
        store.set('user.info.age', '23');
    }, 0);


    console.log(store);
    console.log(obj());

    new Vue({
        el: '#app',
        computed: {
            age() {
                return obj.value;
            }
        },
        data: {
            name: 'artur'
        }
    })

</script>
</body>
</html>